body {
    background-color: bisque;
    font-family: 'Great Vibes', cursive;
    /* font-family: 'The Nautigal', cursive; */
    font-weight: bold;
    font-size: 50px;
    padding: 3px;
    margin: 5px;
}

.theme-dark {
    background-color: darkblue;
    color:bisque;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#header_intro {
    text-align: center;
}

#header_nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

#header_nav a{
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
}

#main_formation {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#main_formation div {
    padding: 2px;
    margin: 3px;
}





img {
    width: 10%;
}

/* scroll animations */
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 3s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}