body {
    background-color: bisque;
    font-family: 'Niconne', cursive;
    font-size: 32px;
    /* padding: 10px; */
    /* margin: 5px; */
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

h3 {
    font-size: 36px;
    font-weight: bold;
}
/* THEME DARK */
.theme-dark {
    background-color: darkblue;
    color:bisque;
}

button {
    /* background-color: transparent; */
    padding: 0;
    margin: 0 ;
}

/* HEADER */
.header {
    display: flex;
    flex-direction: column;
}

#header_intro {
    text-align: center;
    background-color: rgb(195, 245, 228); 
    padding: 10px;  
    display:flex;
    flex-direction: row-reverse; 
    justify-content: space-evenly;
}

/* PROFILE IMAGE */
.image-cropper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
  
.header img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

/* NAVBAR STICKY */

#header_nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    overflow: hidden;
    background-color: #333;
}

#header_nav a{
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* MAIN */

main {
    margin: 10px
}

#main_formation {
    display: flex;
    flex-direction: column;
    text-align: justify;
    
}









/* FOOTER */
footer {
    margin: 10px
}
.footer_contacts {
   text-decoration: none;
}





img {
    display: inline;
    width: 10%;
}

/* scroll animations */
/* add to every section of menu, id */
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 3s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}
/* scroll animations */